div {
  width: 60px;
  height: 60px;
  background-color: black;
  margin-bottom: 5px;
}

#position {
  background-color: red;
  position: absolute;
/* z-index: -1;
  left: 20px;
  bottom: 50px;
  position: relative; */
}

